<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/valoicosvg"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.UAS_10120905_JohndyPanca"
        tools:targetApi="31">

        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.UAS_10120905_JohndyPanca.NoActionBar"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Remove the <intent-filter> from MainActivity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.UAS_10120905_JohndyPanca.NoActionBar">
            <!-- Remove the <intent-filter> -->
        </activity>
    </application>

</manifest>
